* {
    margin: 0;
    padding: 0;
}
.header {
    margin: 0;
    width: 1440px;
    height: auto;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 476.59px;
    padding: 52.54px 61px 40px 63.58px;
}
.header h1 {
    font-weight: 400;
    font-size: 30px;
}
.nav {
    font-family: New York Small;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 12%;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    gap: 34px;
    padding-top: 6.46px ;
}
.main {
    padding: 76px 293px 0;
}
.title img {   
    width: 854px;
    height: 533px;
    align-items: center;
}
.title h1 {
    font-family: New York Extra Large;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 858px;
}
.title p {
    font-family: SF Mono;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 131px;
    max-width: 592px;
    
}
.title hr {
    border: 2px solid #000000;
    width: 640px;
    margin-left: 107px;
}
.articles h2 {
    font-family: New York Extra Large;
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 225px;
    padding-left: 315px;
    padding-top: 64px;
}
.container img{
    width: 304px;
    height: 176px;
    padding-bottom: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    padding-left: 109px;
    padding-top: 39px;

}
.image p {
    max-width: 262px;
    padding-bottom: 64px;
    font-family: SF Pro Display;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;

}
.image_mobile {
    display: none;
}
.footer {
    background-color: #000000;
    color: white;
    text-align: center;
}
.bold {
    font-weight: 800;
    
}
span {
    padding-left: 10px;
    font-family: SF Pro Text;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 10%;
    font-weight: 400;
    text-transform: uppercase; 
}
.line {
    padding-bottom: 105.12px;
}
.footer h1 {
    padding-bottom: 25.58px;
}
.footer p {
    font-family: New York Small;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 488px;
    padding-left: 476px;
    padding-bottom: 32px;
}
.info {
    display: flex;
    gap: 27px;
}
.info p {
    font-family: SF Pro Text;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;

}
.year {
    
}
@media screen and (max-width: 767px) {
    .image_desktop {
        display: none;
    }
    .image_mobile {
        display: block;
    }
}