* {
    margin: 0;
    padding: 0;
}
.header {
    margin: 0;
    width: 1440px;
    height: auto;
    box-sizing: border-box;
    
    display: flex;
    gap: 476.59px;
    padding: 52.54px 0 40px 63.58px;
}
.header h1 {
    font-weight: 400;
    font-size: 30px;
}
.nav {
    font-family: New York Small;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 12%;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    gap: 34px;
    padding-top: 6.46px ;
}

.image img{
    width: 304px;
    height: 176px;
}