.header {
    display: flex;
}
.nav {
    font-family: New York Small;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 12%;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    gap: 10px;
}